<!DOCTYPE html>
<html>
    <head>
        <title>User Details</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
            }
            th {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>User Details</h1>
        <table>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Middle Name</th>
                    <th>Home Address</th>
                    <th>City</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Zip Code</th>
                    <th>Birthdate</th>
                    <th>Gender</th>
                    <th>Hobby</th>
                    <th>Civil Status</th>
                    <th>Shift Key A</th>
                    <th>Shift Key B</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% userDetails.forEach(function(userDetail) { %>
                    <tr>
                        <td><%= userDetail.userId %></td>
                        <td><%= userDetail.firstName %></td>
                        <td><%= userDetail.lastName %></td>
                        <td><%= userDetail.middleName %></td>
                        <td><%= userDetail.homeAddress %></td>
                        <td><%= userDetail.city %></td>
                        <td><%= userDetail.region %></td>
                        <td><%= userDetail.country %></td>
                        <td><%= userDetail.zipCode %></td>
                        <td><%= userDetail.birthdate %></td>
                        <td><%= userDetail.gender %></td>
                        <td><%= userDetail.hobby %></td>
                        <td><%= userDetail.civilStatus %></td>
                        <td><%= userDetail.shiftKeyA %></td>
                        <td><%= userDetail.shiftKeyB %></td>
                        <td>
                          <button onclick="location.href='/user-details/edit/<%= userDetail.userId %>'">Edit</button>
                          <button onclick="location.href='/user-details/delete/<%= userDetail.userId %>'">Delete</button>
                      </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>
